.results-box {
	background-color: grey;
	color: white;
}

.article-display {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px;
}

hr{
	background-color: white; 
}
img{
	width: 200px;
}